spring:
  application:
    name: video-service

  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB

  kafka:
    bootstrap-servers : localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer : org.springframework.kafka.support.serializer.JsonSerializer

server:
  port : 8082
  tomcat:
    max-swallow-size: -1

#AWS CONFIGURATION
aws:
   access-key: YOUR_AWS_ACCESS_KEY_HERE
   secret-key: YOUR_AWS_SECRET_KEY_HERE
   region: eu-north-1
    s3:
      bucket-name: YOUR_BUCKET_NAME_HERE

#Actuator
management :
  endpoints :
    web :
      exposure :
        include : health,info